header h1{
    text-align: center;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border-style: groove; */
    color: rgb(0, 0, 0);
    font-size: 70px;
    text-shadow: 2px 2px 60px black;
    border-left: 6px solid black;
    background-color: rgb(255, 255, 255);
    
}
body{
    background-image: url("protest.jpg");
    background-repeat: one;
    background-attachment: fixed;
    background-size: 1000px 1200px;
}
.blog {
    text-align: center;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border-style: groove; */
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-shadow: 2px 2px 60px black;
    list-style-position: inside;
   
   }